*
{
font-family: Arial;
}


body>p
{
    background-color: black;
    color:yellow;
    text-align:justify;
    margin:5%
}
body
{
    background-color: black;
}
h1
{
    background-color: aqua;
    color: orange;
    size: 16px;
}
h2
{
    color: white;
}
.enlace
{
    font-size: 12px;
    color: blue;
    text-align: right;
    text-decoration:underline;
}