
body {

    font-family: sans-serif;
    background-color: #fafafa;
    padding: 20px;
}


h1{
    
    text-align: center;
    text-transform: uppercase;
    background-color: #eaeaea;
    font-size: 125%;
    padding: 10px;
}

legend{

    background-color:#EEEEEE;
    margin: 10px 20px;

}

.botones{

    text-align: right;
}
#rojo{

    color: red;
    text-decoration: underline;
}
